@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

@model MyMovies.Models.Movie;
@{
    ViewBag.Title = "Create Movie";
}
<div id="container4">
    <form asp-controller="Home" asp-action="Create" method='POST' class='form-control'>
        <label for='title' class="title-control">Movie Title</label>
        <input type="text" asp-for="Title" id="title" class='input-control'>
        <label for='image' class="title-control">Movie Image URL</label>
        <input type="text" asp-for="ImageUrl" class='input-control'>
        <label for='description' class="title-control">Movie Description</label>
        <textarea type="text" asp-for="Description" class='input-control'></textarea>
        <label for='genre' class="title-control">Movie Genre</label>
        <input type="text" asp-for="Genre" class='input-control'>
        <label for='date' class="title-control">Movie Date</label>
        <input type="date" asp-for="Date" class='input-control'>
        <br>
        <button type="submit" class="btn my">Create</button>
    </form>
</div>
