@{
    @ViewBag.Title;
}
<div id="container4">
    <form method='POST' class='form-control'>
        <label for='id' class="title-control">Movie ID</label>
        <input type="number" name="id" class='input-control'>
        <label for='title' class="title-control">Movie Title</label>
        <input type="text" name="title" class='input-control'>
        <label for='image' class="title-control">Movie Image URL</label>
        <input type="text" name="image" class='input-control'>
        <label for='description' class="title-control">Movie Description</label>
        <input type="text" name="description" class='input-control'>
        <label for='genre' class="title-control">Movie Genre</label>
        <input type="text" name="genre" class='input-control'>
        <label for='date' class="title-control">Movie Date</label>
        <input type="date" name="date" class='input-control'>
        <br>
        <button type="submit" class="btn my">Create</button>
    </form>
</div>
