
@{
    @ViewBag.Title;
}
<div id="container3">
    <div id="wrapper">
        <!-- SINGLE MOVIE CARD-->
        <div class="single-card">
            <div class="flx">
                <img class="single-card-img" src="https://bit.ly/2MZpH6i">
                <div class="single-card-genre">
                    <p class='single-card-title'><b>Title</b></p>
                    <h1>WW84</h1>
                    <p><b>Genre</b></p>
                    <h1>SCI-FI</h1>

                </div>
            </div>
            <div class="single-card-description">
                <p><b>Description</b></p>
                <br>
                <p>Diana Prince lives quietly among mortals in the vibrant, sleek 1980s -- an era of excess driven by the pursuit of having it all. Though she's come into her full powers, she maintains a low profile by curating ancient artifacts, and only performing heroic acts incognito. But soon, Diana will have to muster all of her strength, wisdom and courage as she finds herself squaring off against Maxwell Lord and the Cheetah, a villainess who possesses superhuman strength and agility.</p>
                <br>
                <p style='font-size:12px;'>01-01-2021</p>
            </div>
        </div>
        <br>
        <a href="#" class='btn'><i class="fas fa-arrow-left"></i> Back</a>
    </div>
</div>