@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers

@model MyMovies.ViewModels.MovieIndexDataModel

@{
    ViewBag.Title = "Home";
}


<div id="container2">
    @if (Model.IndexModels.Count() == 0)
    {
        <p>No Data</p>
    }
    else
    {
        @foreach (var movie in Model.IndexModels)
        {
            <!-- MAIN CARD-->
            <div class="card">
                <img class="card-img" src="@movie.ImageUrl">
                <p class='card-title'>@movie.Title</p>
                <div class="card-genre">
                    <p>@movie.Genre</p>
                </div>
                <a href="/Home/Detail/@movie.Id" class="btn2">VIEW</a>
            </div>
            <!-- END OF MAIN CARD-->

        }

    }

</div>